doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(async src=`https://maps.googleapis.com/maps/api/js?key=${googleMapsApiKey}` defer)
    link(rel="stylesheet" href="css/style.css")
    title=title 
  body 
    include menu/header.pug

    main 
      block content

    footer
      section
        h3 Horario:
        p Lunes a Viernes de 8:00am a 4:00pm.
        p <strong>*Calculamos tu costo de envío compartiéndonos tu ubicación al hacer tu pedido.</strong>
        p *Pedidos recibidos antes de las 11:00am salen a ruta de entrega a la 1:00pm.
        p *Pedidos recibidos antes de la 1:30pm salen a ruta de entrega a las 3:00pm.